parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Symfony\\Component\\Serializer\\SerializerInterface\:\:denormalize\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Controller/SearchController.php

		-
			message: '#^Call to an undefined method Doctrine\\DBAL\\Connection\:\:fetchAll\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Repository/DbalReadEventRepository.php

		-
			message: '#^Call to an undefined method DateTimeInterface\:\:add\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Services/GitHubEventsImporter.php

		-
			message: '#^Unsafe access to private property App\\Tests\\Func\\EventControllerTest\:\:\$client through static\:\:\.$#'
			identifier: staticClassAccess.privateProperty
			count: 4
			path: tests/Func/EventControllerTest.php
