parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method Symfony\\Component\\Serializer\\SerializerInterface\:\:denormalize\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Controller/SearchController.php

		-
			message: '#^Class App\\Entity\\Event constructor invoked with 7 parameters, 5 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/DataFixtures/EventFixtures.php

		-
			message: '#^Parameter \#3 \$payload of class App\\Entity\\Event constructor expects array, App\\Entity\\Actor given\.$#'
			identifier: argument.type
			count: 1
			path: src/DataFixtures/EventFixtures.php

		-
			message: '#^Parameter \#4 \$createAt of class App\\Entity\\Event constructor expects DateTimeImmutable, App\\Entity\\Repo given\.$#'
			identifier: argument.type
			count: 1
			path: src/DataFixtures/EventFixtures.php

		-
			message: '#^Parameter \#5 \$comment of class App\\Entity\\Event constructor expects string\|null, array given\.$#'
			identifier: argument.type
			count: 1
			path: src/DataFixtures/EventFixtures.php

		-
			message: '#^Property App\\Entity\\Event\:\:\$count is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Entity/Event.php

		-
			message: '#^Call to an undefined method Doctrine\\DBAL\\Connection\:\:fetchAll\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Repository/DbalReadEventRepository.php

		-
			message: '#^Call to an undefined method DateTimeInterface\:\:add\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Services/GitHubEventsImporter.php

		-
			message: '#^Unsafe access to private property App\\Tests\\Func\\EventControllerTest\:\:\$client through static\:\:\.$#'
			identifier: staticClassAccess.privateProperty
			count: 4
			path: tests/Func/EventControllerTest.php
