parameters:
	ignoreErrors:
		-
			message: '#^Variable \$payload on left side of \?\? is never defined\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: src/Hydrator/EventHydrator.php

		-
			message: '#^Call to an undefined method DateTimeInterface\:\:add\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Services/GitHubEventsImporter.php
